html,body{width:100%; padding:0px;border: 0px;margin: 0px;/*background: url("/image/background/background4.jpg");*/ background-color: #FFFFFF;background-size: 100% 100%;background-repeat: no-repeat;}
/*#header{position: absolute;top: 0px;left: 0px;background-color: #999999;width: 100%;height: 50px;line-height: 50px;}*/
#header{width: 100%;height: 52px;background-color: rgba(0,0,0,0.15);margin:0px;overflow: hidden;position: fixed;top: 0px;left: 0px;}

/*#toplinediv{width: 100%;height: 1px;background: black;position: fixed;top: 0px;left: 0px;}*/
#linediv {width: 100%;height: 1px;background: #333333;position: fixed;top: 52px;left: 0px;}

#titlename a{width: 68%;height: 52px;float: left;line-height: 52px;font-size: 32px;margin-left: 10%;font-weight: bold;}

#titleimg{height: 48px;margin: 2px;}

#username{width: 22%;height: 52px;float: left;line-height: 52px;}

#userpic{width: 40px;height: 40px;margin-top: 6px;margin-bottom: 6px;float: left;margin-left: 10px;margin-right: 5px;border-radius: 20px;}

#namediv{height: 52px;color: black;line-height: 52px;font-size: 20px;margin-left: 15px;float: left;}

#namediv:hover{color: #555555;}

#namedropdown{width: 15%;height: 120px;left: 78%;top: 52px;background: white;position: fixed;}

/*#container{width: 100%;margin: 0px;}*/

h2 img{height: 18px;margin-right: 5px;}
#spacediv{width: 100%;height: 62px;margin: 0px;}

#spacediv2{width: 100%;height: 20px;margin: 0px;display: block;}

#contextdiv{margin: 0px;margin-left: 1%;margin-bottom: 1%;color: black;width: 70%;border-style: solid;border-radius: 3px;border-width: 3px;border-color: #DDDDDD; padding: 1%;float: left;background: #DDDDDD;min-height: 600px;word-wrap: break-word; 
word-break: normal; }

#contextdiv a{color: #CC6600;}

#codediv {background: black;padding: 10px;}

#sidediv {width: 24%;float: left;margin-left: 1%;margin-right: 1%;min-height: 300px;margin-bottom: 1%;}
/*#sidename {width: 100%;height: 20px;font-size: 24px;text-align: left;line-height: 20px;font-weight: bold;color: #FF6666;margin-top: 10px;}*/
#saying {width: 92%;overflow: scroll;background-color: #DDDDDD;padding: 3%;border-style: solid;border-radius: 3px;border-width: 3px;border-color: #DDDDDD;margin-bottom: 10px;}

#sideimg img {width: 100%; margin: 0px;}

#weibome iframe{width: 100%;height: 80px;overflow: hidden;background-color: white;border: 0px;margin: 0px;}

#titlename a:link{text-decoration: none;color: black;}

#titlename a:visited{text-decoration: none;color: black;}

#titlename a:hover{text-decoration: none;color: #555555;}

#footer{position:relative; height: 25px;width: 100%;background-color: #000000;padding: 0px;margin:0px;line-height: 25px;text-align: center;color: white;opacity: 0.2}