html,body{width:100%; padding:0px;border: 0px;margin: 0px;/*background: url("/image/background/background4.jpg");*/ background-color: #EEEEEE;background-size: 100% 100%;background-repeat: no-repeat;}
/*#header{position: absolute;top: 0px;left: 0px;background-color: #999999;width: 100%;height: 50px;line-height: 50px;}*/
#header{width: 100%;height: 56px;background-color: rgba(0,0,0,0.2);margin:0px;overflow: hidden;}

#titlename{width: 75%;height: 56px;float: left;line-height: 56px;font-size: 30px;margin-left: 3%;}

#username{width: 22%;height: 56px;float: left;line-height: 56px;}

#userpic{width: 40px;height: 40px;margin-top: 8px;margin-bottom: 8px;float: left;margin-left: 10px;margin-right: 5px;border-radius: 20px;}

#namediv{height: 56px;color: black;line-height: 56px;font-size: 20px;margin-left: 15px;float: left;}

#namediv:hover{color: #555555;}

#container{width: 100%;margin: 0px;}

#spacediv{width: 100%;height: 20px;margin: 0px;}

#contextdiv{margin: 0px;margin-left: 1%;margin-right: 1%;color: black;width: 70%;/*background-color: rgba(0,0,0,0.6);*/padding: 1%;overflow: scroll;float: left;background: #CCCCCC;min-height: 550px;}

#contextdiv a{color: #CC6600;}

#sidediv {width: 22%;background-color: #CCCCCC;float: left;margin-left: 1%;margin-right: 1%;padding: 1%;}
#sidename {width: 100%;height: 20px;font-size: 24px;text-align: left;line-height: 20px;font-weight: bold;color: #FF6666;margin-top: 10px;}
#sideimg {width: 100%;overflow: scroll;}
#sideimg img {width: 100%;}

#weibome iframe{width: 100%;height: 80px;overflow: hidden;background-color: white;border: 0px;padding: 0px;}

#titlename a:link{text-decoration: none;color: black;}

#titlename a:visited{text-decoration: none;color: black;}

#titlename a:hover{text-decoration: none;color: #555555;}

#footer{position: absolute;bottom:0px;height: 25px;width: 100%;background-color: #000000;padding: 0px;margin:0px;line-height: 25px;text-align: center;left: 0px;color: white;opacity: 0.2}