---
layout: default
title: Linear space of Landon
---
<h2>Recommend</h2>
<ul>
	{% for post in site.tags.recommend %}
	<li>{{ post.date | date_to_string }}: <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
</ul>

<h2>New Articles</h2>
<ul>
	{% for post in site.posts %}
	<li>{{ post.date | date_to_string }}: <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{{ post.excerpt }}
	{% endfor %}
</ul>
<h2>Downloads</h2>
<ul>
	<li><a href="/resources/CompressedSensing091604.pdf">Compressed Sensing</a></li>
	<li><a href="/resources/Message-passing algorithms for compressed sensing.pdf">Message passing algorithm for compressed sensing</a></li>
	<li><a href="/resources/AMPlecture.pdf">AMPlecture</a></li>
	<br>
	<h3 style="color:red;">WHO can help me prove the equations on page 8!!! connect me with QQ1097549351, below is the paper:</h3>
	<li><a href="/resources/bpist.pdf">How to desgin message passing algorithm for compressed sensing</a></li>

</ul>