<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/index.css">
	<script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
	<script src="/js/unslider.js"></script>
	<script src="//unslider.com/unslider.js"></script>
</head>
<body>
	<div id="header">
		<div id="titlename"><a href="http://www.xufo.in">Linear space of Landon</a></div>
		<div id="username">
			<img src="/image/head/head1.png" id="userpic">
			<div id="namediv">Landon</div>
		</div>
	</div>
	<div id="container">
		<div id="spacediv"></div>
		<div id="contextdiv">
			{{ content }}
		</div>
		<div id="sidediv">
			<div id="picdiv">
				<!-- <img src="/image/contents/pic1.png" id="img1" class="image">
				<img src="/image/contents/pic2.png" id="img2" class="image">
				<img src="/image/contents/pic3.png" id="img3" class="image"> -->
				<div class="banner">
					<ul>
						<li>This is a slide.</li>
						<li>This is another slide.</li>
						<li>This is a final slide.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">By Landon(zhipeng xue) 2015</div>
</body>
<script type="text/javascript" src="/js/index.js"></script>
</html>

<!-- style="background: url('./image/background.jpg');background-size:100% 700px;background-repeat: no-repeat;" -->