<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/index.css">
	<script src="/js/jquery-1.11.2.min.js"></script>
</head>
<body>
	<!-- <div id="toplinediv"></div> -->
	<div id="header">
		<div id="titlename"><a href="http://www.xufo.in"><img src="/image/head/LSOL.png" id="titleimg"><!-- <img src="/image/head/comp.png" id="titleimg"> --></a></div>
		<div id="username">
			<img src="/image/head/head1.png" id="userpic">
			<div id="namediv">Landon</div>
		</div>
	</div>
	<div id="linediv"></div>
	<div id="namedropdown">
		<ul>
			<li><img src="/image/head/glyphicons-4-user.png" id="downpic">Me</li>
			<li><img src="/image/head/glyphicons-281-settings.png" id="downpic">Settings</li>
			<li><img src="/image/head/glyphicons-283-cardio.png" id="downpic">About</li>
		</ul>
	</div>

	<div id="container">
		<div id="spacediv"></div>
		<div id="sidediv">
			<img src="/image/contents/welcome.png" style="margin-left:10px;height:30px;margin-bottom:5px;">
			<div id="saying">
				<!-- <img src="/image/contents/lenna.jpeg">
				<img src="/image/contents/dragon.jpg">
				<img src="/image/contents/fourier.png"> -->

			</div>
			<a href="http://www.baidu.com">
			<div id="sideimg">
				<img src="/image/contents/comp.png">
			</div>
			</a>
			<div id="weibome"><iframe src="http://widget.weibo.com/weiboshow/index.php?language=&fansRow=1&ptype=1&height=80&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=0&isFans=0&uid=2572277551&verifier=d015d401&dpc=0"></iframe></div>
		</div>
		<div id="contextdiv">
			{{ content }}
		</div>
	</div>
	<!-- <div id="spacediv2"></div>
	<div id="footer">By Landon(zhipeng xue) 2015</div> -->
</body>
<script type="text/javascript" src="/js/index.js"></script>

</html>